body
{ 
    /* makes background colour using linear gradients to draw 2 colours along the screen from 0% to 100%*/
    height: 100vh;
   background: linear-gradient(
    0deg, rgb(155, 110, 110) 0%, rgb(175, 94, 1) 100%
   );   
}
#button
{
    /* alligning button*/
    text-align: center;
    background-color: rgb(255, 238, 2);
    text-size-adjust: 10;
    display: block;
    margin: auto;
}
/*style of grid and sizing to fit squares */
#grid
{
    width: 1910px;
    height: 610px;
    /*displays blocks in a horizontal format*/
   display: flex;
   /*wraps blocks in horizontal to fit into grid*/
   flex-wrap: wrap;
}
/*point value*/
#value
{
    font-size: 50px;
    /*aligns text in center of page*/
    text-align: center;
}
/*score text*/
#score
{
    text-align: center;   
     
}
/*design of blocks*/
.block
{
    width: 120px;
    height: 120px;
    border-style: solid;
    /*to create lines in grid*/
    border-color: black;
    border-width: 1px;
}
/*green block colour to represent the correct block to click*/ 
.hitmarker
{
   background-color: rgb(18, 202, 18);    
}
/*green block colour to represent the correct block to click*/
.hitmarker2
{
   background-color: rgb(18, 202, 18);    
}
/*red marker to represent block not to click*/
.redmarker
{
    background-color: rgb(250, 6, 6);   
}
/*red marker to represent block not to click*/
.redmarker2
{
    background-color: rgb(250, 6, 6);   
}
/*red marker to represent block not to click*/
.redmarker3
{
    background-color: rgb(250, 6, 6);   
}
/*purple marker to represent best block to click*/
.purple
{
  background-color: blueviolet;   
}
/*button design to start game*/
#button
{
    width: 80px;
    height: 50px;
    
}
